body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p, h1, h2, h3, h4, h5{
  color:#444;
}

a{
  text-decoration: none;
  color:inherit;
}
